---
import { Image } from 'astro:assets';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import LogoImage from '../assets/bsg_logo.png';
---

<header>
  <nav class='flex flex-col md:flex-row items-center justify-center md:justify-between'>
    <h2></h2>
    <div class='flex flex-row items-center justify-around w-full max-w-[400px]'>
    </div>
  </nav>
</header>
