---
import { Image } from 'astro:assets';
import Pattern from '../assets/bsg_blocks.svg';

interface Props {
  header: string;
  tagline: string;
  description: string;
}
const { header, tagline, description } = Astro.props;
const first = header.split(' ')[0].toUpperCase();
const second = header.split(' ')[1].toUpperCase();
---

<section class="hero">
  <div class="container">
    <h1>
      <span class="name-sam">{first}</span>
      <span class="name-hipwell">{second}</span>
    </h1>
    <p class="subtitle">{ tagline }</p>
    <div class="description">
      <Fragment set:html={description} />
    </div>
  </div>
</section>
